*{
  font-family: sans-serif;
}

main{
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.form-group{
  background-color: white;
  width: 325px;
  height: 55px;
  border-radius: 0 25px 0 25px;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 6px 2px rgb(82, 79, 137);
}

.form-group input{
  width: 200px;
  background-color: white;
  padding: 0;
  margin-left: 25px;
  border: 0;
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}



.form-group button{
  background-color: white;
  border: none;
  margin-right: 25px;
  cursor: pointer;
}

.weather_info{
  text-align: center;
  color: white;
}

.weather_info h2{
  font-size: 5rem;
  text-shadow: 2px 6px 2px rgb(82, 79, 137);
}

.weather_info h2 p {
  display: inline;
  font-size: 4rem;
}

.weather_none{
  display: none;
}
